:root {
  --primary: #4682b4;
  --primary-dark: #38678f;
  --primary-darker: #294d6b;
  --primary-color: #fff;
  --secondary: #af46b4;
  --border: #c5c5c5;
  --alt: #fff;
  --modal-margin-top: 12vh;
  --success: #4bb446;
  --success-dark: #368532;
  --info: #b2cce1;
  --warning: #b47846;
  --warning-dark: #995f36;
  --danger: #b4464b;
  --danger-dark: #8f383b;
  --inverse: #333;
  --secondary-dark: #943f99;
  --secondary-darker: #77337a;
  --neutral: #f5f5f5;
}

body {
  font-family: Tahoma, Geneva, sans-serif;
  margin: 0;
  padding: 0;
  color: #555;
  font-size: 1rem;
}

h1 {
  margin-top: 0;
  font-size: 4em;
  margin-bottom: 0.2em;
}

h2 { font-size: 2em; }
p { line-height: 1.5em; }
a { color: var(--primary); }
a:hover { color: var(--primary-dark); }

img { max-width: 100%; height: auto; }

form { width: 100%; }
input[type="text"],
input[type="search"],
input[type="number"],
input[type="email"],
input[type="password"],
input[type="date"],
input[type="datetime-local"],
input[type="time"],
input[type="month"],
input[type="week"],
select,
textarea {
  padding: 0.6em 0.6em;
  font-size: 1em;
  font-family: Arial;
  width: 100%;
  border: 1px solid var(--border);
  box-sizing: border-box;
}

input[type="text"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
textarea:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="date"]:focus,
input[type="datetime-local"]:focus,
input[type="time"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
select:focus {
  border: 1px solid var(--primary);
  outline: 0;
}

input[type="text"],
input[type="search"],
input[type="number"],
input[type="email"],
input[type="password"],
input[type="date"],
input[type="datetime-local"],
input[type="time"],
input[type="month"],
input[type="week"],
button,
textarea,
select,
.button {
  border-radius: 6px;
}

textarea {
  padding: 0.6em 0.6em;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: 1px solid var(--border);
  line-height: 1.6em;
}

label {
  margin: 1.4em 0 0.4em 0;
  clear: both;
  display: block;
  text-align: left;
}

label span { color: green; }

.button {
  text-align: center;
  width: auto;
  display: inline-block;
}

button,
.button {
  background-color: var(--primary);
  border: 1px solid var(--primary-dark);
  margin: 1em 0.1em 0 0;
  padding: 0.6em 1.2em;
  color: var(--primary-color);
  font-size: 0.9em;
  cursor: pointer;
  text-decoration: none;
  font-family: Arial;
  line-height: normal;
}

button:hover,
.button:hover {
  background-color: var(--primary-dark);
  border: 1px solid var(--primary-darker);
  color: var(--primary-color);
}

button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.danger {
    background-color: var(--danger);
    border: 1px solid var(--danger-dark);
    color: var(--primary-color);
}

.danger:hover {
    background-color: var(--danger-dark);
    border: 1px solid var(--danger-dark);
    color: var(--primary-color);
}

.warning {
    background-color: var(--warning);
    border: 1px solid var(--warning);
    color: var(--primary-color);
}

.warning:hover {
    background-color: var(--warning-dark);
    border: 1px solid var(--warning-dark);
    color: var(--primary-color);
}

.success {
    background-color: var(--success);
    border: 1px solid var(--success-dark);
    color: var(--primary-color);
}

.success:hover {
    background-color: var(--success-dark);
    border: 1px solid var(--success-dark);
    color: var(--primary-color);
}

.inverse {
    background-color: var(--inverse);
    border: 1px solid #222;
    color: var(--primary-color);
}

.inverse:hover {
    background-color: #222;
    border: 1px solid #111;
    color: var(--primary-color);
}

.alt {
  background-color: transparent;
  border: 1px solid var(--primary);
  color: #333;
}

.alt:hover {
  background-color: transparent;
  border: 1px solid var(--primary);
  color: var(--primary);
}

ul { margin: 2em 0; list-style-type: circle; }
li { line-height: 1.8em; }

input[type="checkbox"] {
  margin: 1.4em;
  top: 0.3em;
  position: relative;
  width: 1.4em;
  height: 1.4em;
}

input[type="radio"] { margin: 1.6em 0 2em 1em; }

table {
  border-collapse: collapse;
  width: 100%;
}

th {
  background-color: var(--primary);
  color: var(--primary-color);
}

th,
td {
  border: 1px var(--primary-darker) solid;
  padding: 0.7em;
}

td:hover { cursor: auto; }

tr:hover,
tr:nth-child(odd):hover {
  background-color: #fdfdea;
}

tr:nth-child(odd) { background-color: #f3f3f3; }

hr {
  border: 0;
  height: 1px;
  background: var(--border);
  margin: 2em 0;
}

.float-right { float: right; position: relative; }
.float-left { float: left; position: relative; }

.modal p { text-align: center; }

.text-left, div.modal-body p.text-left { text-align: left; }
body .text-left, html .text-left { text-align: left; }

.text-right, div.modal-body p.text-right { text-align: right; }
body .text-right, html .text-right { text-align: right; }

.text-center, div.modal-body p.text-center { text-align: center; }
body .text-center, html .text-center { text-align: center; }

.container {
  width: 90%;
  max-width: 940px;
  margin: 0 auto;
  padding: 1em;
}

.container-xxs {
  width: 90%;
  max-width: 450px;
  margin: 0 auto;
  padding: 1em;
}

.container-xs {
  width: 90%;
  max-width: 640px;
  margin: 0 auto;
  padding: 1em;
}

.container-sm {
  width: 90%;
  max-width: 760px;
  margin: 0 auto;
  padding: 1em;
}

.container-md {
  width: 90%;
  max-width: 820px;
  margin: 0 auto;
  padding: 1em;
}

.container-lg {
  width: 90%;
  max-width: 960px;
  margin: 0 auto;
  padding: 1em;
}

.container-xl {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 1em;
}

.container-xxl {
  width: 90%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 1em;
}

.pagination { display: inline-block; margin-top: 1em; font-size:.8em; }
.pagination:first-of-type { margin: 0 0 1em 0; }

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  border: 1px solid #ddd;
  background-color: #ffffffcc;
}

.pagination a.active {
  background-color: var(--primary);
  color: white;
  border: 1px solid var(--primary);
}

.pagination a:hover:not(.active) { background-color: #ddd; }
.pagination a:first-child { border-top-left-radius: 5px; border-bottom-left-radius: 5px; }
.pagination a:last-child { border-top-right-radius: 5px; border-bottom-right-radius: 5px; }

.card-heading {
  font-size: 1.2em;
  background-color: var(--primary);
  color: var(--primary-color);
  padding: 12px;
  border: 1px solid var(--primary-darker);
}

/* Card heading color variants */
.card-heading.danger {
  background-color: var(--danger);
  border: 1px solid var(--danger-dark);
}

.card-heading.success {
  background-color: var(--success);
  border: 1px solid var(--success-dark);
}

.card-heading.warning {
  background-color: var(--warning);
  border: 1px solid var(--warning-dark);
}

.card-body { padding: 20px; background-color: #fff; }

.card {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 1em;
}

#overlay {
  background-color: black;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -2;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  opacity: 0.7;
  top: 0;
}

#modal-container {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  z-index: -3;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.modal {
  width: 90%;
  max-width: 570px;
  z-index: -4;
  background-color: white;
  opacity: 0;
  position: relative;
  margin-top: -160px;
  transition: 0.3s;
}

.modal-body h5 {
  margin: 0 auto;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

#delete-modal p:nth-child(1) {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}

.modal p:nth-child(3) { margin: 0; }

.modal-heading {
  font-size: 1.2em;
  background-color: var(--primary);
  padding: 12px;
  color: var(--primary-color);
  border: 1px solid var(--primary-darker);
  text-transform: uppercase;
}

/* Modal heading color variants */
.modal-heading.danger {
  background-color: var(--danger);
  border: 1px solid var(--danger-dark);
}

.modal-heading.success {
  background-color: var(--success);
  border: 1px solid var(--success-dark);
}

.modal-heading.warning {
  background-color: var(--warning);
  border: 1px solid var(--warning-dark);
}

.modal-footer {
  font-size: 1.2em;
  background-color: #eee;
  padding: 12px;
  color: #555;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  border: 1px solid;
  border-color: var(--border) var(--primary-darker) var(--border) var(--primary-darker);
}

.modal-footer button { margin: 6px 0 0 0.3em; font-size: 16px; }
.modal-footer button.alt { background-color: #fefefe; }
.modal-danger { background-color: red; border: 1px #990000 solid; }
.modal-body { padding: 20px; border-left: 1px solid var(--primary-darker); border-right: 1px solid var(--primary-darker); }

.modal .modal-danger,
button.modal-danger {
  background-color: red;
}

.modal textarea {
  font: inherit;
  font-size: 15px;
  margin: 0;
  overflow: auto;
  padding: 8px;
  display: block;
  border: 1px solid #ccc;
  color: #000;
  background-color: #fdf5e6;
  min-height: 7em;
  resize: none;
  line-height: 1.5em;
}

body .modal textarea,
form .modal textarea {
  border: 1px solid #ccc;
  color: #000;
  background-color: #fdf5e6;
}

.video-container {
  --aspect-w: 16;
  --aspect-h: 9;
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: calc(100% * (var(--aspect-h) / var(--aspect-w)));
}

.video-container.aspect-4-3 {
  --aspect-w: 4;
  --aspect-h: 3;
}

.video-container.aspect-1-1 {
  --aspect-w: 1;
  --aspect-h: 1;
}

.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.modal .form-field-validation-error,
.form-field-validation-error {
  border: 3px #ff0000 solid !important;
  background-color: #ff000011 !important;
}

.modal .validation-error-alert,
.validation-error-alert {
  padding: 12px 12px 0 12px;
  border-radius: 12px;
}

.modal .validation-error-alert h3,
.validation-error-alert h3 {
  margin-top: 0;
  display: flex;
  align-items: center;
  color: #ff0000;
}

.modal .validation-error-report,
.validation-error-report {
  color: #ff0000 !important;
  width: 100%;
  text-align: left;
}

.modal .validation-error-report > div,
.validation-error-report > div {
  margin-bottom: 7px;
  font-size: 16px;
}

.spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  position: relative;
  margin: 0.6em;
}

.spinner::after {
  animation: spinning 0.5s infinite linear;
  width: 24px;
  height: 24px;
  background: 0 0;
  border: 3px solid var(--primary);
  border-radius: 50%;
  border-right-color: transparent;
  border-top-color: transparent;
  content: "";
  display: block;
  opacity: 1;
  padding: 0;
  position: absolute;
  z-index: 1;
}

.spinner-lhs { justify-content: flex-start; }
.spinner-rhs { justify-content: flex-end; }
.xl { font-size: 1.5em; }
.lg { font-size: 1.3em; }
.sm { font-size: 0.85em; }
.xs { font-size: 0.7em; }

.mt-0 { margin-top: 0 !important; }
.mt-1 { margin-top: 1em !important; }
.mt-2 { margin-top: 2em !important; }
.mt-3 { margin-top: 3em !important; }
.mt-4 { margin-top: 4em !important; }
.mt-5 { margin-top: 5em !important; }
.mt-6 { margin-top: 6em !important; }
.mt-7 { margin-top: 7em !important; }

.mb-0 { margin-bottom: 0 !important; }
.mb-1 { margin-bottom: 1em !important; }
.mb-2 { margin-bottom: 2em !important; }
.mb-3 { margin-bottom: 3em !important; }
.mb-4 { margin-bottom: 4em !important; }
.mb-5 { margin-bottom: 5em !important; }
.mb-6 { margin-bottom: 6em !important; }
.mb-7 { margin-bottom: 7em !important; }

.ml-1 { margin-left: 1em !important; }
.ml-2 { margin-left: 2em !important; }
.ml-3 { margin-left: 3em !important; }
.ml-4 { margin-left: 4em !important; }
.ml-5 { margin-left: 5em !important; }
.ml-6 { margin-left: 6em !important; }
.ml-7 { margin-left: 7em !important; }

.mr-1 { margin-right: 1em !important; }
.mr-2 { margin-right: 2em !important; }
.mr-3 { margin-right: 3em !important; }
.mr-4 { margin-right: 4em !important; }
.mr-5 { margin-right: 5em !important; }
.mr-6 { margin-right: 6em !important; }
.mr-7 { margin-right: 7em !important; }

@keyframes spinning {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.blink {
  text-decoration: blink;
  -webkit-animation-name: blinker;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-direction: alternate;
}

@-webkit-keyframes blinker {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.mx-indicator-hidden {
  display: none;
}

#mx-tick,
#mx-cross {
  max-width: 200px;
  min-width: 160px;
  margin: 33px auto;
}

.mx-circ {
  opacity: 0;
  stroke-dasharray: 130;
  stroke-dashoffset: 130;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}

.mx-tick {
  stroke-dasharray: 50;
  stroke-dashoffset: 50;
  -webkit-transition: stroke-dashoffset 1s 0.5s ease-out;
  -moz-transition: stroke-dashoffset 1s 0.5s ease-out;
  -ms-transition: stroke-dashoffset 1s 0.5s ease-out;
  -o-transition: stroke-dashoffset 1s 0.5s ease-out;
  transition: stroke-dashoffset 1s 0.5s ease-out;
}

.mx-cross {
  stroke-dasharray: 50;
  stroke-dashoffset: 50;
  -webkit-transition: stroke-dashoffset 1s 0.7s ease-out;
  -moz-transition: stroke-dashoffset 1s 0.7s ease-out;
  -ms-transition: stroke-dashoffset 1s 0.7s ease-out;
  -o-transition: stroke-dashoffset 1s 0.7s ease-out;
  transition: stroke-dashoffset 1s 0.7s ease-out;
}

.mx-trigger.mx-drawn .path,
.mx-drawn + svg .path {
  opacity: 1;
  stroke-dashoffset: 0;
}

.flex-row, .flex-column { display: flex; }
.flex-row { flex-direction: row; }
.flex-column { flex-direction: column; }

.justify-between { justify-content: space-between; }
.justify-around { justify-content: space-around; }
.justify-center { justify-content: center; }
.justify-start { justify-content: flex-start; }
.justify-end { justify-content: flex-end; }

.align-center { align-items: center; }
.align-start { align-items: flex-start; }
.align-end { align-items: flex-end; }
.align-stretch { align-items: stretch; }

.flex-grow { flex-grow: 1; }
.flex-wrap { flex-wrap: wrap; }
.flex-nowrap { flex-wrap: nowrap; }

.cloak { display: none; }

.gold {
    background: linear-gradient(to right, #BF953F, #FCF6BA, #B38728, #FBF5B7, #AA771C);
    color: #fff;
    border: 1px #ded4c2 solid;
}

.silver {
    background: linear-gradient(to right, #8faab7, #f1f8ff, #9eb2c1, #f0f6f9, #96a2a9);
    color: #fff;
    border: 1px #c0cbd1 solid;
}

.pagination {
    display: inline-block;
    margin-top: 1em;
}

.pagination:first-of-type {
    margin: 0 0 1em 0;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid #ddd;
}

.pagination a.active {
    background-color: var(--primary);
    color: white;
    border: 1px solid var(--primary);
}

.pagination a:hover:not(.active) {
    background-color: #fff;
    color: var(--primary);
}

.pagination a:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.pagination a:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.tg-showing-statement {
    color: #666;
    margin-bottom: 1em;
}

@media screen and (max-width: 550px) {

  .pagination a {
      padding: 10px 14px;
  }

  button,
  button.button,
  a.button,
  .button {
    width: 100%;
    display: block;
    box-sizing: border-box;
    margin: 0.5em 0;
  }
  .modal { max-height: 85vh; overflow-y: auto; }
  .modal-footer { flex-direction: column-reverse; }
  .modal-footer button:last-child { margin: 0 0 0 0.3em; }
  p.button-container { display: flex; flex-direction: column-reverse; }
}